@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #2a3b47;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
}
.logo img {
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #306658;
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
    font-size: large;
}

.navitem {
    display: inline;
    padding: 10px;
    margin: 10px;
    padding: 10px;
    font-size: large;
    background-color: #306658;
}
@media (max-width: 767px) {
    .navbar {
        display: block;
    }
    .navitem {
        display: block;
        margin: 0;
        padding: 10px;
        font-size: large;
        background-color: #306658;;
        justify-content: center;
        align-items: center;
    }
    .logo img {
        margin-top: 5%;
        margin-left: 5%;
        border-radius: 25px;
        width: 20%;
    }
    .project {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .project img {
        max-width: 80%;
        margin-bottom: 10px;
    }

    .project-info {
        text-align: center;
    }

    .project h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .project p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .project a {
        padding: 6px 12px;
        font-size: 14px;
    }
}

.navitem a {
    color: #dd6c2f;
    text-decoration: none;
    font-weight: bold;
}

.navitem:hover {
    background-color: #294e44;
    transition: background-color 0.15s ease;
    border-radius: 10px
}
.selected {
    transition: background-color 0.15s ease;
    border-radius: 10px;
    border-style: solid;
    border-color: #dd6c2f;
    background-color: #3d7868;
    border-width: 2px;
}

.header {
    color: #ff7e75;
    padding: 1%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.bigtext {
    font-size: 25px;
    text-align: center;
    color: #ffdfdf;
    font-weight: bold;
}

.normaltext {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: #ffdfdf;
}

.contentbox {
    background-color: #202224;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    border-style: solid;
    border-color: #b39797;
    border-width: 2px;
    text-align: center;
}

.contentbox:hover {
    background-color: #294e44;
    transition: background-color 0.15s ease;
}

.contentbox-social {
    background-color: #202224;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    border-style: solid;
    border-color: #b39797;
    border-width: 2px;
    position: relative; /* Relative Position für absolute Positionierung des Textes */
}

.contentbox a {
    color: #dd6c2f;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

.contentbox h2 {
    color: #ff7e75;
    font-size: 24px;
    margin-bottom: 10px;
}


.contentbox a:hover {
    color: #ff7e75;
}

.wrong img {
    /*stretched wide image*/
    width: 50%;
    height: 200px;
    border-radius: 10px;
    border-radius: 2rem;
}

.social-container {
    text-align: center; /* Zentrieren der Sozialmedien-Icons */
}

.social-container a {
    display: inline-block; /* Anker als Inline-Block-Elemente anzeigen */
    margin: 0 5px; /* Horizontaler Abstand zwischen den Icons */
}

.social-icon {
    width: 50px; /* Breite des Icons */
    height: auto; /* Automatische Höhe */
    fill: #DD6C2F; /* Füllfarbe des Icons */
}

.contentbox-social:hover {
    background-color: #294e44;
    transition: background-color 0.15s ease;
}

.social-container a:hover {
    transform: scale(1.25);
    transition: transform 0.15s ease;
}

.logo:hover {
    transition: transform 0.15s ease;
    transform: scale(1.05);
}
.project {
    background-color: #202224;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; /* Hier wird der äußere Abstand eingestellt */
    border: 2px solid #b39797;
    display: flex;
    align-items: center;
}

.project img {
    display: block;
    max-width: 100px; /* Maximalbreite des Bildes */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Abstand rechts vom Bild */
}

.project-info {
    flex: 1; /* Flexibles Wachstum für den Rest des Inhalts */
}

.project h3 {
    color: #FF7E75;
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.project a {
    color: #DD6C2F;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #DD6C2F;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.15s ease;
}

.project a:hover {
    background-color: #DD6C2F;
    color: #FFF;
    transform: scale(1.25);
    transition: transform 0.15s ease;
}

.project:hover {
    /*background-color ease 0.15s;*/
    background-color: #294e44;
    transition: background-color 0.15s ease;
}

.cancelled {
    background-color: #202224;
    color: #FF7E75;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #FF7E75;
    display: flex;
    align-items: center;
}

.social-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.social-box {
    background-color: #202224;
    border: 2px solid #b39797;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px 20px;
    width: 30%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-box img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.social-box-text {
    text-align: center;
}

.social-box-text h2 {
    color: #FF7E75;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-box-text p {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.social-box a {
    color: #DD6C2F;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #DD6C2F;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.15s ease;
}

.social-box a:hover {
    background-color: #DD6C2F;
    color: #FFF;
}

.social-box:hover {
    background-color: #294e44;
    transition: background-color 0.15s ease;
}


.social-icon {
    width: 60px; /* Breite des Icons *//* Automatische Höhe */
}

.dragon-img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border-radius: 2rem;
    margin: 2%;
}

.dragon-img-small {
    width: 40%;
    height: auto;
    border-radius: 10px;
    border-radius: 2rem;
    margin: 2%;
}
@media screen and (max-width: 767px) {
    .dragon-img {
        width: 90%;
    }
    .dragon-img-small {
        width: 80%;
    }
    
}

