body {
    background-color: #000000;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}
.headline {
    color: lightblue;
    font-size: 3em;
}
.button {
    background-color: #00c3ff;
    color: #000000;
    font-size: 2em;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 20px;
}
.button:hover {
    background-color: #00f7ff;
    color: #000000;
}
/*put the logo on the top left:*/
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.button-red {
    background-color: #ff3d3d;
    color: #000000;
    font-size: 2em;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 20px;
}
.button-red:hover {
    background-color: #ff5353;
    color: #000000;
}
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    color: #ff3d3d;
    }
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
    }
.footer-img {
    padding-right: 40px;
    transition: all 0.1s ease-in-out;
}
.footer-img:hover {
    transform: scale(1.3);
}


.back {
  background-color: #00c3ff;
  color: #000000;
  font-size: 2em;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 10px;
  margin-top: 20px;
  /*place it on the top left of the site*/
  position: absolute;
  top: 20px;
  left: 20px;

}
.back:hover {
  background-color: #00f7ff;
  color: #000000;

}